@font-face {
  font-family: "ProductSans";
  src: url("ProductSansRegular.ttf");
  font-display: swap;
}

body {
  font-family: "ProductSans", sans-serif;
  color: rgb(240, 233, 233);
  font-size: 1.15rem;
  line-height: 2.5rem;
  background-color: #111011;
}

.rounded {
  border-radius: 1rem;
}

a {
  color: #df385c;
}
