body {
  font-family: "Roboto", "Montserrat", "Helvetica Neue", Arial, sans-serif;
  color: rgb(37, 37, 37);
  font-size: 1.15rem;
  line-height: 1.5;
  background-color: #ffffff;
  margin: 0;
}

html {
  color-scheme: dark light;
}

.rounded {
  border-radius: 1rem;
}

.rounded-sm {
  border-radius: 0.5rem;
}

// ---- VARIABLES ---- //
$small: 0.5rem;
$smaller: 0.25rem;
$medium: 0.75rem;
$large: 1.5rem;
$larger: 2rem;

// ---- COLORS ---- //
// apple human design guideline colors
$black: #181a1c;
$white: #ffffffde;

$gray: #1c1c1e;
$gray1: rgb(142, 142, 147);
$gray2: rgb(99, 99, 102);
$gray3: rgb(72, 72, 74);
$gray4: rgb(58, 58, 60);
$gray5: rgb(44, 44, 46);
$body: rgba(0, 0, 0, 0.95);

$red: #ff453a;
$blue: #0a84ff;
$darkblue: #055ee2;
$darkestblue: #234ece;
$green: rgb(20, 160, 55);
$yellow: rgb(255, 214, 10);
$orange: rgb(255, 159, 10);
$pink: rgb(255, 55, 95);
$purple: #bf5af2;
$brown: rgb(172, 142, 104);
$indigo: #5e5ce6;
$teal: rgb(64, 200, 224);

a {
  color: $darkblue;
}

.btn {
  border-radius: 0.35rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;

  &:hover {
    outline: solid $blue;
  }
}

.btn-primary {
  background-color: rgba(0, 132, 255, 0.158);
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  margin: 0.5rem 0;
  border-bottom: solid 1px $gray1;
  margin-top: 3rem;
}

h1,
h2,
h3,
h4 {
  a {
    text-decoration: none;
  }
}
code {
  background-color: rgb(66, 66, 66);
  padding: 2px;
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000f2 !important;
    color: #e4e3e3;
  }

  a {
    color: rgb(255, 255, 255);
  }

  a:visited {
    color: rgb(255, 255, 255);
  }

  h2 {
    border-bottom: solid 1px $gray5;
  }

  code {
    background-color: rgb(37, 37, 37);
    padding: 2px;
    border-radius: 0.25rem;
  }
}
