@font-face {
  font-family: "ProductSans";
  src: url("/Product Sans Regular.ttf");
  font-display: swap;
}

// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: "ProductSans", sans-serif;
  font-weight: light;
  color: rgb(20, 20, 20);
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.rounded {
  border-radius: 1rem;
}
